@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

table {
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
